<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Info</title>
    </head>    
    <body style="width: 600px; font-family: Arial; padding: 0px; margin: 0px">       
        <table cellpadding="0" cellspacing="0" width="600px">
            <tr>
                <td>First Name:</td>
                <td>{{ firstName }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ lastName }}</td>
            </tr>
            <tr>
                <td>Company Name:</td>
                <td>{{ companyName }}</td>
            </tr>
            <tr>
                <td>Preferred Rate [%]:</td>
                <td>{{ preferredRate }}</td>
            </tr>
            <tr>
                <td>Pin Number:</td>
                <td>{{ pinNumber }}</td>
            </tr>
        </table>
    </body>
</html>
