{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <video width="240" height="180" src="{{ asset(object.getVideoFileWebPath) }}" controls>
            <source src="{{ asset(object.getVideoFileWebPath) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
{% endblock %}