{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <audio controls>
            <source src="{{ asset(object.getAudioFileWebPath) }}" type="audio/mp3">
            Your browser does not support the audio tag.
        </audio>
    </div>
{% endblock %}