{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <img src="{{ asset(object.getImageFileWebPath) }}" class="admin-preview" width="100" />
    </div>
{% endblock %}