{% extends 'KAPIKooshApiBundle::layout.html.twig' %}

{% block body %}
    
    <div id="login-box" >
       
        <h1><span class="blue">Koosh</span> <span class="white">Api</span></h1>
        <br />
        
        {% if error %}
            <div class="alert alert-error">{{ error.message }}</div>
        {% endif %}
        
        
        <div class="sonata-ba-form" >
            <form action="{{ path('login_check') }}" method="post">
                <input type="hidden" name="_target_path" value="/admin" />
                <div class="row" >
                    <div class="col-md-12">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title"> Login </h4>
                            </div>
                            <div class="box-body" >
                                <div class="sonata-ba-collapsed-fields" >
                                    <div class="form-group" >
                                        <label class="control-label required">Username</label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural" >
                                            <input type="text" id="username" name="_username" value="{{ last_username }}" class=" form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <label class="control-label required">Password</label>
                                        <div class="sonata-ba-field sonata-ba-field-standard-natural" >
                                            <input type="password" id="password" name="_password" class=" form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="well well-small form-actions" >
                    <button type="submit" class="btn btn-success">LOGIN</button>
                </div>
            </form>
        </div>
    </div>

    
{% endblock %}