<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
       
        {% block stylesheets %}
            <link href="{{ asset('bundles/kapikooshapi/css/screen.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/sonataadmin/vendor/AdminLTE/css/AdminLTE.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body class="sonata-bc skin-black fixed">
        <div id="wrapper row-offcanvas row-offcanvas-left" >
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
