<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Friendship Request</title>
    </head>    
    <body style="width: 600px; font-family: Arial; padding: 0px; margin: 0px">       
        <table cellpadding="0" cellspacing="0" width="600px">
            <tr>
                <td>Name:</td>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ email }}</td>
            </tr>
        </table>
    </body>
</html>
