<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>New Account</title>
    </head>    
    <body style="width: 600px; font-family: Arial; padding: 0px; margin: 0px">       
        <table cellpadding="0" cellspacing="0" width="600px">
            <tr>
                <td><img src="{{ imagePath }}" width="200" height="200" /></td>
                <td></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>{{ password }}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>{{ firstName }}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{ lastName }}</td>
            </tr>
            <tr>
                <td>User Name:</td>
                <td>{{ userName }}</td>
            </tr>
            <tr>
                <td>DOB:</td>
                <td>{{ dob }}</td>
            </tr>
            <tr>
                <td>Push Id:</td>
                <td>{{ pushId }}</td>
            </tr>
            <tr>
                <td>Facebook Id:</td>
                <td>{{ facebookId }}</td>
            </tr>
            <tr>
                <td>Twitter Id:</td>
                <td>{{ twitterId }}</td>
            </tr>
        </table>
    </body>
</html>
