{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="{{ asset('bundles/kapikooshapi/css/admin.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}