/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.8.2014, 15:46:47
    Author     : Admin
*/

input[type="file"].form-control {
    height: auto;
}


.green {
    color: #5DAB00;
}

.light-green {
    color: #9CE055;
}

.blue {
    color: #008AE5;
}

.light-blue {
    color: #CFF0FF;
}

.white {
    color: white;
}


.skin-black .left-side {
    background: #008AE5 !important;
    color: #008AE5;
}

.skin-black .left-side a {
    color: #008AE5 !important;
}

.skin-black .sidebar {
    border-bottom: none !important; 
}

.logo {
    background: #008AE5 !important;
    color: #008AE5 !important;
}

.logo img {
    width: 200px;
    height: 50px;
    max-width: 100%;
}

.box {
    border-top: 2px solid #008AE5 !important;
}

.btn-link {
    color: #008AE5;
}

.btn.btn-success {
    background-color: #9CE055 !important;
    border-color: #008d4c !important;
    color: #333;
}

.btn.btn-success.btn-outline {
    border-color: #5DAB00 !important;
}

.btn.btn-success.btn-outline:hover {
    background-color: #9CE055 !important;
}

a {
    color: #008AE5;
}

.btn.btn-primary {
    background-color: #9CE055 !important;
    border-color: #008d4c !important;
    color: #333;
}

body, .right-side, .content {
    background: #CFF0FF;
}