html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html { background:#008AE5 !important; }
body { line-height: 1;font-family: Arial, Helvetica, sans-serif;font-size: 14px; color:#333333; width: 100%; height: 100%; color: #000; font-size: 14px;  }
.clear { clear: both; }

#wrapper { margin: 10px auto; width: 1000px; }
#wrapper a { text-decoration: none; color: #F48A00; }
#wrapper span.highlight { color: #F48A00; }

#header { border-bottom: 1px solid #ccc; margin-bottom: 20px; }
#header .top { border-bottom: 1px solid #ccc; margin-bottom: 10px; }
#header ul.navigation { list-style: none; text-align: right; }
#header .navigation li { display: inline }
#header .navigation li a { display: inline-block; padding: 10px 15px; border-left: 1px solid #ccc; }
#header h2 { font-family: 'Irish Grover', cursive; font-size: 92px; text-align: center; line-height: 110px; }
#header h2 a { color: #000; }
#header h3 { text-align: center; font-family: 'La Belle Aurore', cursive; font-size: 24px; margin-bottom: 20px; font-weight: normal; }

.main-col { width: 700px; display: inline-block; float: left; border-right: 1px solid #ccc; padding: 20px; margin-bottom: 20px; }
.sidebar { width: 239px; padding: 10px; display: inline-block; }

.main-col a { color: #F48A00; }
.main-col h1,
.main-col h2
    { line-height: 1.2em; font-size: 32px; margin-bottom: 10px; font-weight: normal; color: #F48A00; }
.main-col p { line-height: 1.5em; margin-bottom: 20px; }

#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }

#wrapper {
    width: 600px;
    margin: 0 auto;
}

#login-box {
    width: 500px;
    background: #CFF0FF;
    border: 1px #008AE5 solid;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.box.box-success {
    border-top-color: #008AE5 !important;
}

.btn.btn-success {
    background-color: #ffffff !important;
    border-color: #008AE5 !important;
    color: #008AE5;
    font-weight: bold;
}

.btn.btn-success:hover {
    background-color: #CFF0FF !important;
    color: #008AE5;
}

.well {
    background: #008AE5 !important;
}

.green {
    color: #5DAB00;
}

.light-green {
    color: #9CE055;
}

.blue {
    color: #008AE5;
}

.light-blue {
    color: #CFF0FF;
}

.white {
    color: white;
}


.skin-black .left-side {
    background: #008AE5 !important;
}