{# src/Acme/DemoBundle/Resources/views/Form/fields.html.twig #}
{% block customButton_widget %}
    {% spaceless %}
        <div class=" sonata-ba-field sonata-ba-field-standard-natural" >
            <a href="{{ attr.href }}">{{ attr.button_name }}</a>
        </div>
    {% endspaceless %}
{% endblock %}

{% block videoPreview_widget %}
    {% spaceless %}
        <div class=" sonata-ba-field sonata-ba-field-standard-natural" >
            <video width="240" height="180" src="{{ attr.video_path }}" controls>
                <source src="{{ attr.video_path }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    {% endspaceless %}
{% endblock %}

{% block imagePreview_widget %}
    {% spaceless %}
        <div class=" sonata-ba-field sonata-ba-field-standard-natural" >
            <img  height="180" src="{{ attr.image_path }}" />
        </div>
    {% endspaceless %}
{% endblock %}